{
  "openapi": "3.1.0",
  "info": {
    "title": "Wachat API",
    "version": "v1",
    "description": "Wachat REST API. Authenticate with a workspace API key: send it as `Authorization: Bearer <key>`. Generate keys in the dashboard under Developers / API."
  },
  "servers": [
    {
      "url": "https://crm.wachat.net/api/v1"
    }
  ],
  "tags": [
    {
      "name": "Message",
      "description": "Send a single WhatsApp message — text, media (image / video / document / audio) or a location pin — to one number, then read its delivery status or your message history. A file can be attached directly as a multipart `media` field or referenced by a public URL."
    },
    {
      "name": "Template",
      "description": "Create, list and manage your approved WhatsApp templates, and send a template to one number with your own header, body variables and button values. Use this for utility / marketing sends that need a pre-approved template — including one with a PDF / document header (pass the file's public URL as the header, e.g. from the Media endpoint)."
    },
    {
      "name": "Media",
      "description": "Upload a file once (multipart / form-data, field name `file`, up to 16 MB) and get back a hosted public URL you can reuse across sends — for example a PDF to use as a document-header on a template, or an image on a message."
    },
    {
      "name": "Contact",
      "description": "Full create / read / update / delete over your contacts and leads, including search by number, tags and custom attributes."
    },
    {
      "name": "ContactGroup",
      "description": "Organise contacts into groups: create groups, list them, and add or remove members — handy for targeting broadcasts and campaigns."
    },
    {
      "name": "Broadcast",
      "description": "Send the same message to many contacts at once and track each broadcast's progress and per-recipient delivery."
    },
    {
      "name": "Campaign",
      "description": "Create, start, pause and monitor drip / marketing campaigns and their recipients."
    },
    {
      "name": "Scheduled",
      "description": "Schedule a WhatsApp send for a future time, list upcoming scheduled messages, and cancel one before it goes out."
    },
    {
      "name": "AutoReply",
      "description": "Manage keyword auto-replies — the automatic responses that fire when an inbound message matches a rule."
    },
    {
      "name": "Flow",
      "description": "Enroll a contact into an automation flow (chatbot) and manage your flows through the API."
    },
    {
      "name": "Device",
      "description": "List the WhatsApp numbers / devices connected to your workspace and check each one's connection status."
    },
    {
      "name": "Webhook",
      "description": "Register and manage webhook endpoints so Wachat POSTs real-time events (message received / sent / delivered / read / failed, plus campaign and contact events) to your server. When you set a signing secret each delivery carries an HMAC-SHA256 signature header you can verify."
    },
    {
      "name": "Deal",
      "description": "Manage sales-pipeline deals — create, list, update and move deals between stages."
    },
    {
      "name": "Conversation",
      "description": "Read your workspace inbox: list chat threads (conversations) and fetch the messages inside a thread."
    },
    {
      "name": "Account",
      "description": "Read your account details, plan, limits and message-credit usage."
    }
  ],
  "security": [
    {
      "http": []
    }
  ],
  "paths": {
    "/me": {
      "get": {
        "operationId": "v1.account.me",
        "description": "Returns the account and workspace associated with the bearer token. Use this endpoint when your integration needs to confirm the active workspace, inspect its plan and limits, or read the feature flags available to the API key.",
        "summary": "Get current workspace",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "account": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string"
                            },
                            "email": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "name",
                            "email"
                          ]
                        },
                        "workspace": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer"
                            },
                            "name": {
                              "type": "string"
                            },
                            "slug": {
                              "type": "string"
                            },
                            "timezone": {
                              "type": "string"
                            },
                            "currency": {
                              "type": [
                                "string",
                                "null"
                              ]
                            }
                          },
                          "required": [
                            "id",
                            "name",
                            "slug",
                            "timezone",
                            "currency"
                          ]
                        },
                        "plan": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "name": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "string",
                                  "enum": [
                                    "Free"
                                  ]
                                }
                              ]
                            },
                            "is_free": {
                              "type": "boolean"
                            }
                          },
                          "required": [
                            "id",
                            "name",
                            "is_free"
                          ]
                        },
                        "limits": {
                          "type": "object",
                          "description": "Plan limits. A null value means unlimited.",
                          "additionalProperties": {
                            "type": [
                              "integer",
                              "null"
                            ]
                          }
                        },
                        "features": {
                          "type": "object",
                          "description": "Enabled plan capabilities.",
                          "additionalProperties": {
                            "type": "boolean"
                          }
                        }
                      },
                      "required": [
                        "account",
                        "workspace",
                        "plan",
                        "limits",
                        "features"
                      ]
                    },
                    "meta": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Request failed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "const": "not_found"
                        },
                        "message": {
                          "type": "string",
                          "const": "Workspace not found."
                        },
                        "details": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message",
                        "details"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/usage": {
      "get": {
        "operationId": "v1.account.usage",
        "description": "Returns the current billing-period message usage for the authenticated workspace. Use it to show consumption, remaining allowance, reset timing, and available wallet credits before sending campaigns or high-volume messages.",
        "summary": "Get usage",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "period": {
                          "type": "object",
                          "properties": {
                            "label": {
                              "type": "string"
                            },
                            "resets_on": {
                              "type": "string"
                            },
                            "days_left": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "label",
                            "resets_on",
                            "days_left"
                          ]
                        },
                        "plan": {
                          "type": "object",
                          "description": "Plan VALIDITY (subscription expiry) — distinct from the monthly\nmessage cycle above; a year out for yearly plans. null = no expiry.",
                          "properties": {
                            "name": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "string",
                                  "enum": [
                                    "Free"
                                  ]
                                }
                              ]
                            },
                            "valid_until": {
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "valid_until_days": {
                              "type": [
                                "integer",
                                "null"
                              ]
                            }
                          },
                          "required": [
                            "name",
                            "valid_until",
                            "valid_until_days"
                          ]
                        },
                        "messages": {
                          "type": "object",
                          "properties": {
                            "used": {
                              "type": "integer"
                            },
                            "limit": {
                              "type": [
                                "integer",
                                "null"
                              ]
                            },
                            "unlimited": {
                              "type": "boolean"
                            },
                            "remaining": {
                              "type": [
                                "object",
                                "null"
                              ]
                            },
                            "percent": {
                              "anyOf": [
                                {
                                  "type": "null"
                                },
                                {
                                  "type": "object"
                                },
                                {
                                  "type": "integer",
                                  "enum": [
                                    0
                                  ]
                                }
                              ]
                            }
                          },
                          "required": [
                            "used",
                            "limit",
                            "unlimited",
                            "remaining",
                            "percent"
                          ]
                        },
                        "credits": {
                          "type": "integer"
                        },
                        "meters": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "period",
                        "plan",
                        "messages",
                        "credits",
                        "meters"
                      ]
                    },
                    "meta": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Request failed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "const": "not_found"
                        },
                        "message": {
                          "type": "string",
                          "const": "Workspace not found."
                        },
                        "details": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message",
                        "details"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/auto-replies": {
      "get": {
        "operationId": "v1.auto-replies.index",
        "summary": "List auto-replies",
        "tags": [
          "AutoReply"
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "array",
                        "items": {}
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "count": {
                          "type": "integer",
                          "minimum": 0
                        }
                      },
                      "required": [
                        "count"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Request failed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "const": "list_failed"
                        },
                        "message": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "string",
                              "enum": [
                                "Could not list auto-replies."
                              ]
                            }
                          ]
                        },
                        "details": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message",
                        "details"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        },
        "description": "Lists keyword auto-reply rules configured for the workspace. Use it to display, audit, or manage the rules that answer matching inbound messages."
      },
      "post": {
        "operationId": "v1.auto-replies.store",
        "summary": "Create auto-replies",
        "tags": [
          "AutoReply"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StoreAutoReplyRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {}
                    },
                    "meta": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationException",
            "description": "Request failed."
          }
        },
        "description": "Creates a keyword auto-reply rule that responds when an inbound message matches its configured trigger. Use it for simple automated answers without creating a full flow."
      }
    },
    "/auto-replies/{id}": {
      "get": {
        "operationId": "v1.auto-replies.show",
        "summary": "Get auto-reply",
        "tags": [
          "AutoReply"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {}
                    },
                    "meta": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Request failed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "const": "not_found"
                        },
                        "message": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "string",
                              "enum": [
                                "Auto-reply not found."
                              ]
                            }
                          ]
                        },
                        "details": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message",
                        "details"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        },
        "description": "Deletes an auto-reply rule and prevents it from responding to future matching messages."
      },
      "put": {
        "operationId": "v1.auto-replies.update",
        "summary": "Update auto-reply",
        "tags": [
          "AutoReply"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAutoReplyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {}
                        },
                        "meta": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "data",
                        "meta"
                      ]
                    },
                    {
                      "type": "string"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationException",
            "description": "Request failed."
          }
        },
        "description": "Updates the trigger, response, or status of an auto-reply rule."
      },
      "delete": {
        "operationId": "v1.auto-replies.destroy",
        "summary": "Delete auto-reply",
        "tags": [
          "AutoReply"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "deleted": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "id",
                        "deleted"
                      ]
                    },
                    "meta": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Request failed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "const": "not_found"
                        },
                        "message": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "string",
                              "enum": [
                                "Auto-reply not found."
                              ]
                            }
                          ]
                        },
                        "details": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message",
                        "details"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        },
        "description": "Deletes an auto-reply rule and prevents it from responding to future matching messages."
      }
    },
    "/broadcasts": {
      "post": {
        "operationId": "v1.broadcasts.store",
        "summary": "Create broadcasts",
        "tags": [
          "Broadcast"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StoreBroadcastRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {}
                        },
                        "meta": {
                          "type": "object",
                          "properties": {
                            "broadcast_ids": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "array",
                                  "prefixItems": [
                                    {
                                      "type": "string"
                                    }
                                  ],
                                  "minItems": 1,
                                  "maxItems": 1,
                                  "additionalItems": false
                                }
                              ]
                            },
                            "devices_count": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "integer",
                                  "enum": [
                                    1
                                  ]
                                }
                              ]
                            }
                          },
                          "required": [
                            "broadcast_ids",
                            "devices_count"
                          ]
                        }
                      },
                      "required": [
                        "data",
                        "meta"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "broadcast_ids": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "minItems": 0,
                                  "maxItems": 0,
                                  "additionalItems": false
                                }
                              ]
                            },
                            "devices_count": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "integer",
                                  "enum": [
                                    1
                                  ]
                                }
                              ]
                            }
                          },
                          "required": [
                            "broadcast_ids",
                            "devices_count"
                          ]
                        },
                        "meta": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "data",
                        "meta"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationException",
            "description": "Request failed."
          }
        },
        "description": "Creates and dispatches a broadcast to contacts or groups using a message or approved template. Use it for one-to-many delivery when you need recipient-level status tracking."
      },
      "get": {
        "operationId": "v1.broadcasts.index",
        "summary": "List broadcasts",
        "tags": [
          "Broadcast"
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "count": {
                          "type": "integer",
                          "minimum": 0
                        }
                      },
                      "required": [
                        "count"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          }
        },
        "description": "Lists recent broadcasts for the workspace. Use it to show delivery history, status, and campaign operations to workspace users."
      }
    },
    "/broadcasts/{id}": {
      "get": {
        "operationId": "v1.broadcasts.show",
        "summary": "Get broadcast",
        "tags": [
          "Broadcast"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {}
                    },
                    "meta": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Request failed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "const": "not_found"
                        },
                        "message": {
                          "type": "string",
                          "const": "Broadcast not found."
                        },
                        "details": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message",
                        "details"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        },
        "description": "Returns one broadcast with its current status and delivery counts. Use it to monitor a broadcast after dispatch or before deciding whether to stop it."
      }
    },
    "/broadcasts/{id}/recipients": {
      "get": {
        "operationId": "v1.broadcasts.recipients",
        "summary": "List broadcast recipients",
        "tags": [
          "Broadcast"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "contact_id": {
                            "type": "integer"
                          },
                          "status": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "string",
                                "enum": [
                                  "pending"
                                ]
                              }
                            ]
                          },
                          "error": {
                            "type": "string"
                          },
                          "wa_message_id": {
                            "type": "string"
                          },
                          "sent_at": {
                            "type": "string"
                          },
                          "delivered_at": {
                            "type": "string"
                          },
                          "read_at": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "contact_id",
                          "status",
                          "error",
                          "wa_message_id",
                          "sent_at",
                          "delivered_at",
                          "read_at"
                        ]
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "count": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "stats": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              },
                              "minItems": 0,
                              "maxItems": 0,
                              "additionalItems": false
                            }
                          ]
                        }
                      },
                      "required": [
                        "count",
                        "stats"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Request failed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "const": "not_found"
                        },
                        "message": {
                          "type": "string",
                          "const": "Broadcast not found."
                        },
                        "details": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message",
                        "details"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        },
        "description": "Returns per-recipient delivery information for a broadcast. Use it to identify pending, delivered, failed, or rejected recipients after a broadcast is created."
      }
    },
    "/broadcasts/{id}/stop": {
      "post": {
        "operationId": "v1.broadcasts.stop",
        "summary": "Stop broadcast",
        "tags": [
          "Broadcast"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {}
                    },
                    "meta": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Request failed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "const": "not_found"
                        },
                        "message": {
                          "type": "string",
                          "const": "Broadcast not found."
                        },
                        "details": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message",
                        "details"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Request failed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "const": "not_stoppable"
                        },
                        "message": {
                          "type": "string",
                          "const": "Only scheduled or in-flight broadcasts can be stopped."
                        },
                        "details": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message",
                        "details"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        },
        "description": "Stops a scheduled or in-progress broadcast when it should no longer deliver. Messages already accepted by the sender may still complete, while recipients that have not been processed are prevented from continuing."
      }
    },
    "/campaigns/statistics": {
      "get": {
        "operationId": "v1.campaigns.statistics",
        "summary": "Get campaign statistics",
        "tags": [
          "Campaign"
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "minItems": 0,
                          "maxItems": 0,
                          "additionalItems": false
                        }
                      ]
                    },
                    "meta": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Request failed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "const": "stats_failed"
                        },
                        "message": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "string",
                              "enum": [
                                "Statistics could not be fetched."
                              ]
                            }
                          ]
                        },
                        "details": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message",
                        "details"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        },
        "description": "Returns workspace-level campaign delivery statistics. Use it to compare campaign outcomes and monitor totals across sent, delivered, failed, and pending messages."
      }
    },
    "/campaigns": {
      "get": {
        "operationId": "v1.campaigns.index",
        "summary": "List campaigns",
        "tags": [
          "Campaign"
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "array",
                        "items": {}
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "count": {
                          "type": "integer",
                          "minimum": 0
                        }
                      },
                      "required": [
                        "count"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Request failed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "const": "list_failed"
                        },
                        "message": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "string",
                              "enum": [
                                "Campaigns could not be listed."
                              ]
                            }
                          ]
                        },
                        "details": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message",
                        "details"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        },
        "description": "Lists campaigns for the workspace. Use it to display campaign history, status, and performance before opening an individual campaign."
      },
      "post": {
        "operationId": "v1.campaigns.store",
        "description": "Creates and dispatches a campaign to a defined recipient audience, immediately or on a schedule. Use campaigns for larger sends that need delivery metrics and lifecycle status.",
        "summary": "Create campaigns",
        "tags": [
          "Campaign"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StoreCampaignRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {}
                    },
                    "meta": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Request failed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "const": "plan_limit"
                        },
                        "message": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "string",
                              "enum": [
                                "Campaign plan limit reached."
                              ]
                            }
                          ]
                        },
                        "details": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message",
                        "details"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationException",
            "description": "Request failed."
          }
        }
      }
    },
    "/campaigns/{id}": {
      "get": {
        "operationId": "v1.campaigns.show",
        "summary": "Get campaign",
        "tags": [
          "Campaign"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {}
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "counts": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              },
                              "minItems": 0,
                              "maxItems": 0,
                              "additionalItems": false
                            }
                          ]
                        },
                        "metrics": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              },
                              "minItems": 0,
                              "maxItems": 0,
                              "additionalItems": false
                            }
                          ]
                        }
                      },
                      "required": [
                        "counts",
                        "metrics"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Request failed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "const": "not_found"
                        },
                        "message": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "string",
                              "enum": [
                                "Campaign not found."
                              ]
                            }
                          ]
                        },
                        "details": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message",
                        "details"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        },
        "description": "Returns one campaign with recipient counts, status, and delivery metrics."
      },
      "delete": {
        "operationId": "v1.campaigns.destroy",
        "summary": "Delete campaign",
        "tags": [
          "Campaign"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "deleted": {
                              "type": "boolean"
                            },
                            "message": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "string",
                                  "enum": [
                                    "Campaign deleted successfully"
                                  ]
                                }
                              ]
                            }
                          },
                          "required": [
                            "deleted",
                            "message"
                          ]
                        },
                        "meta": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "data",
                        "meta"
                      ]
                    },
                    {
                      "type": "string"
                    }
                  ]
                }
              }
            }
          }
        },
        "description": "Deletes a campaign according to its current lifecycle state."
      }
    },
    "/campaigns/{id}/stop": {
      "post": {
        "operationId": "v1.campaigns.stop",
        "summary": "Stop campaign",
        "tags": [
          "Campaign"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {}
                        },
                        "meta": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "data",
                        "meta"
                      ]
                    },
                    {
                      "type": "string"
                    }
                  ]
                }
              }
            }
          }
        },
        "description": "Stops a scheduled or running campaign. Use this endpoint to halt future processing while preserving the campaign record and its existing delivery history."
      }
    },
    "/contacts": {
      "get": {
        "operationId": "v1.contacts.index",
        "summary": "List contacts",
        "tags": [
          "Contact"
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "array",
                        "items": {}
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "type": [
                            "object",
                            "null"
                          ]
                        },
                        "per_page": {
                          "type": [
                            "object",
                            "null"
                          ]
                        },
                        "total": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "last_page": {
                          "type": "integer"
                        }
                      },
                      "required": [
                        "page",
                        "per_page",
                        "total",
                        "last_page"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          }
        },
        "description": "Lists contacts belonging to the authenticated workspace with pagination and optional search. Use it to build recipient pickers, synchronize a CRM, or find the contact ID required by other endpoints."
      },
      "post": {
        "operationId": "v1.contacts.store",
        "summary": "Create contacts",
        "tags": [
          "Contact"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StoreContactRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {}
                    },
                    "meta": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationException",
            "description": "Request failed."
          }
        },
        "description": "Creates a contact in the authenticated workspace. Use it to add a recipient before sending, store profile data and custom attributes, and reuse the contact in groups, broadcasts, or campaigns."
      }
    },
    "/contacts/{id}": {
      "get": {
        "operationId": "v1.contacts.show",
        "summary": "Get contact",
        "tags": [
          "Contact"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {}
                    },
                    "meta": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Request failed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "const": "not_found"
                        },
                        "message": {
                          "type": "string",
                          "const": "Contact not found."
                        },
                        "details": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message",
                        "details"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        },
        "description": "Deletes one contact from the workspace. Use it when the recipient should no longer be available to contact, group, campaign, or CRM workflows."
      },
      "put": {
        "operationId": "v1.contacts.update",
        "summary": "Update contact",
        "tags": [
          "Contact"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateContactRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {}
                    },
                    "meta": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Request failed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "const": "not_found"
                        },
                        "message": {
                          "type": "string",
                          "const": "Contact not found."
                        },
                        "details": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message",
                        "details"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationException",
            "description": "Request failed."
          }
        },
        "description": "Updates the supplied fields of one contact without replacing unrelated attributes. Use it to keep recipient names, numbers, tags, or custom data synchronized with your application."
      },
      "delete": {
        "operationId": "v1.contacts.destroy",
        "summary": "Delete contact",
        "tags": [
          "Contact"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "deleted": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "id",
                        "deleted"
                      ]
                    },
                    "meta": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Request failed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "const": "not_found"
                        },
                        "message": {
                          "type": "string",
                          "const": "Contact not found."
                        },
                        "details": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message",
                        "details"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        },
        "description": "Deletes one contact from the workspace. Use it when the recipient should no longer be available to contact, group, campaign, or CRM workflows."
      }
    },
    "/contact-groups": {
      "get": {
        "operationId": "v1.contact-groups.index",
        "summary": "List contact groups",
        "tags": [
          "ContactGroup"
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "count": {
                          "type": "integer"
                        }
                      },
                      "required": [
                        "count"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          }
        },
        "description": "Lists contact groups and their member counts for the workspace."
      },
      "post": {
        "operationId": "v1.contact-groups.store",
        "summary": "Create contact groups",
        "tags": [
          "ContactGroup"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StoreContactGroupRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {}
                    },
                    "meta": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationException",
            "description": "Request failed."
          }
        },
        "description": "Creates a contact group for organizing recipients. Use groups to reuse a target audience across broadcasts and campaigns instead of sending a long recipient list on every request."
      }
    },
    "/contact-groups/{id}": {
      "delete": {
        "operationId": "v1.contact-groups.destroy",
        "summary": "Delete contact group",
        "tags": [
          "ContactGroup"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "deleted": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "id",
                        "deleted"
                      ]
                    },
                    "meta": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Request failed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "const": "not_found"
                        },
                        "message": {
                          "type": "string",
                          "const": "Contact group not found."
                        },
                        "details": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message",
                        "details"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        },
        "description": "Deletes a contact group and detaches its membership links. Contacts themselves are not deleted by this operation."
      }
    },
    "/conversations": {
      "get": {
        "operationId": "v1.conversations.index",
        "summary": "List conversations",
        "tags": [
          "Conversation"
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "contact": {
                            "anyOf": [
                              {
                                "type": "null"
                              },
                              {
                                "type": "array",
                                "items": {}
                              },
                              {
                                "type": "string"
                              },
                              {
                                "type": "object"
                              }
                            ]
                          },
                          "name": {
                            "type": "string"
                          },
                          "last_message": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "last_message_at": {
                            "type": "string"
                          },
                          "unread": {
                            "type": "integer"
                          },
                          "status": {
                            "type": "string"
                          },
                          "channel": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "contact",
                          "name",
                          "last_message",
                          "last_message_at",
                          "unread",
                          "status",
                          "channel"
                        ]
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "type": "integer"
                        },
                        "per_page": {
                          "type": "integer"
                        },
                        "total": {
                          "type": "integer"
                        },
                        "last_page": {
                          "type": "integer"
                        }
                      },
                      "required": [
                        "page",
                        "per_page",
                        "total",
                        "last_page"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          }
        },
        "description": "Lists recent WhatsApp conversations for the workspace. Use it to build an inbox or locate a conversation ID before requesting its messages."
      }
    },
    "/conversations/{id}/messages": {
      "get": {
        "operationId": "v1.conversations.messages",
        "summary": "List conversation messages",
        "tags": [
          "Conversation"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "array",
                        "items": {}
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "conversation_id": {
                          "type": "integer"
                        },
                        "page": {
                          "type": "integer"
                        },
                        "per_page": {
                          "type": "integer"
                        },
                        "total": {
                          "type": "integer"
                        },
                        "last_page": {
                          "type": "integer"
                        }
                      },
                      "required": [
                        "conversation_id",
                        "page",
                        "per_page",
                        "total",
                        "last_page"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Request failed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "const": "not_found"
                        },
                        "message": {
                          "type": "string",
                          "const": "Conversation not found."
                        },
                        "details": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message",
                        "details"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        },
        "description": "Lists the messages belonging to one conversation, ordered for conversation history and support workflows. Use the conversation ID returned by the conversations endpoint to load a thread into your application."
      }
    },
    "/deals": {
      "get": {
        "operationId": "v1.deals.index",
        "summary": "List deals",
        "tags": [
          "Deal"
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Lists CRM deals with optional pipeline, stage, and status filters. Use it to build sales views and retrieve opportunities for follow-up automation."
      },
      "post": {
        "operationId": "v1.deals.store",
        "summary": "Create deals",
        "tags": [
          "Deal"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "maxLength": 191
                  },
                  "pipeline_id": {
                    "type": [
                      "integer",
                      "null"
                    ]
                  },
                  "stage_id": {
                    "type": [
                      "integer",
                      "null"
                    ]
                  },
                  "value": {
                    "type": [
                      "number",
                      "null"
                    ],
                    "minimum": 0,
                    "maximum": 99999999
                  },
                  "currency": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "maxLength": 10
                  },
                  "contact_id": {
                    "type": [
                      "integer",
                      "null"
                    ]
                  },
                  "owner_user_id": {
                    "type": [
                      "integer",
                      "null"
                    ]
                  },
                  "expected_close_date": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "date-time"
                  }
                },
                "required": [
                  "title"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationException",
            "description": "Request failed."
          }
        },
        "description": "Creates a CRM deal associated with the workspace. Use it to represent an opportunity and track its pipeline, stage, value, status, and contact relationship."
      }
    },
    "/deals/{id}": {
      "get": {
        "operationId": "v1.deals.show",
        "summary": "Get deal",
        "tags": [
          "Deal"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Returns one CRM deal with its pipeline and contact information."
      },
      "put": {
        "operationId": "v1.deals.update",
        "summary": "Update deal",
        "tags": [
          "Deal"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "maxLength": 191
                  },
                  "value": {
                    "type": [
                      "number",
                      "null"
                    ],
                    "minimum": 0,
                    "maximum": 99999999
                  },
                  "currency": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "maxLength": 10
                  },
                  "stage_id": {
                    "type": [
                      "integer",
                      "null"
                    ]
                  },
                  "contact_id": {
                    "type": [
                      "integer",
                      "null"
                    ]
                  },
                  "owner_user_id": {
                    "type": [
                      "integer",
                      "null"
                    ]
                  },
                  "expected_close_date": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "date-time"
                  },
                  "lost_reason": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "maxLength": 191
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationException",
            "description": "Request failed."
          }
        },
        "description": "Updates a CRM deal, including its stage and status. Use it to advance an opportunity as conversations and sales activity progress."
      },
      "delete": {
        "operationId": "v1.deals.destroy",
        "summary": "Delete deal",
        "tags": [
          "Deal"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Deletes a CRM deal from the workspace."
      }
    },
    "/devices": {
      "get": {
        "operationId": "v1.devices.index",
        "summary": "List devices",
        "tags": [
          "Device"
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {}
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "count": {
                          "type": "integer"
                        }
                      },
                      "required": [
                        "count"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          }
        },
        "description": "Lists the WhatsApp devices and provider channels owned by the workspace. Use it to select a sender, inspect connection status, and obtain device IDs for message requests."
      }
    },
    "/devices/create": {
      "post": {
        "operationId": "v1.devices.create",
        "summary": "Create device",
        "tags": [
          "Device"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "device_name": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 191
                  },
                  "phone_number": {
                    "type": "string",
                    "minLength": 5,
                    "maxLength": 32
                  },
                  "country_code": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "maxLength": 8
                  },
                  "region": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "maxLength": 16
                  },
                  "activate_after_pairing": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "device_name",
                  "phone_number"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "device": {
                          "type": "array",
                          "items": {}
                        },
                        "qr": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "status": {
                          "type": "string"
                        },
                        "phone": {
                          "anyOf": [
                            {
                              "type": "null"
                            },
                            {
                              "type": "array",
                              "items": {}
                            },
                            {
                              "type": "string"
                            },
                            {
                              "type": "object"
                            }
                          ]
                        },
                        "qr_url": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "device",
                        "qr",
                        "status",
                        "phone",
                        "qr_url"
                      ]
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "const": "Device created. Scan the QR code to finish pairing."
                        }
                      },
                      "required": [
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Request failed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "const": "plan_limit"
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "object",
                          "properties": {
                            "limit_key": {
                              "type": "string"
                            },
                            "used": {
                              "type": "string"
                            },
                            "limit": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "limit_key",
                            "used",
                            "limit"
                          ]
                        }
                      },
                      "required": [
                        "code",
                        "message",
                        "details"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Request failed.",
            "content": {
              "application/json": {
                "schema": {
[...]
