openapi: 3.0.3
info:
  title: Wachat API
  description: Official API documentation for the Wachat service. Send messages, manage instances, and check numbers programmatically.
  version: 1.0.0
servers:
  - url: https://app.wachat.net/api/v1
    description: Production Server

security:
  - bearerAuth: []

paths:
  /check-number:
    get:
      summary: Check WhatsApp Number
      description: Verify if a given phone number is registered on WhatsApp.
      tags:
        - Numbers
      parameters:
        - in: query
          name: instanceName
          required: true
          schema:
            type: string
          description: The name of your connected instance.
        - in: query
          name: number
          required: true
          schema:
            type: string
          description: The phone number to check (include country code).
      responses:
        '200':
          description: Successful check
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  data:
                    type: object
                    properties:
                      exists:
                        type: boolean
                      jid:
                        type: string
                      number:
                        type: string
                      instance:
                        type: string

  /send:
    post:
      summary: Send a Message
      description: Send text, image, video, document, or audio messages to a specific number.
      tags:
        - Messages
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - instanceName
                - number
                - type
              properties:
                instanceName:
                  type: string
                  description: The name of your connected instance.
                number:
                  type: string
                  description: The recipient's phone number.
                type:
                  type: string
                  enum: [text, image, video, document, audio]
                message:
                  type: string
                  description: Text content or caption for media.
                mediaUrl:
                  type: string
                  format: uri
                  description: URL of the media file (if type is not text).
                fileName:
                  type: string
                  description: Custom file name for documents.
                mimetype:
                  type: string
                  description: Optional custom mimetype.
      responses:
        '200':
          description: Message sent successfully

  /send-group:
    post:
      summary: Send Group Message
      description: Send a text message to a specific WhatsApp group.
      tags:
        - Messages
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - instanceName
                - groupJid
                - message
              properties:
                instanceName:
                  type: string
                groupJid:
                  type: string
                  description: The unique JID of the group.
                message:
                  type: string
      responses:
        '200':
          description: Message sent successfully

  /send-location:
    post:
      summary: Send Location
      description: Send a location pin to a specific number.
      tags:
        - Messages
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - instanceName
                - number
                - latitude
                - longitude
              properties:
                instanceName:
                  type: string
                number:
                  type: string
                latitude:
                  type: number
                longitude:
                  type: number
                name:
                  type: string
                  description: Location name.
                address:
                  type: string
                  description: Location address.
      responses:
        '200':
          description: Location sent successfully

  /send-poll:
    post:
      summary: Send Poll
      description: Send an interactive poll to a user or group.
      tags:
        - Messages
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - instanceName
                - number
                - pollName
                - options
                - selectableCount
              properties:
                instanceName:
                  type: string
                number:
                  type: string
                pollName:
                  type: string
                options:
                  type: array
                  items:
                    type: string
                selectableCount:
                  type: integer
      responses:
        '200':
          description: Poll sent successfully

  /groups:
    get:
      summary: Get All Groups
      description: Fetch all groups associated with a specific instance.
      tags:
        - Groups
      parameters:
        - in: query
          name: instanceName
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Groups retrieved successfully

  /instance/qr:
    get:
      summary: Get Instance QR Code
      description: Retrieve the QR code needed to connect a WhatsApp device to an instance.
      tags:
        - Instances
      parameters:
        - in: query
          name: instanceName
          required: true
          schema:
            type: string
      responses:
        '200':
          description: QR Data retrieved

  /instance/state:
    get:
      summary: Get Instance State
      description: Check the connection status of a specific instance.
      tags:
        - Instances
      parameters:
        - in: query
          name: instanceName
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Instance state retrieved

  /instance/logout:
    delete:
      summary: Logout Instance
      description: Disconnect the WhatsApp number from the specified instance.
      tags:
        - Instances
      parameters:
        - in: query
          name: instanceName
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Instance logged out successfully

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Provide your Wachat API Key as a Bearer token.
